/*

*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: mixins/strikethrough.\A        Load paths:\A          /Applications/Adobe Dreamweaver CC 2017/Configuration/SassFrameworks/bourbon\A          /Applications/Adobe Dreamweaver CC 2017/Configuration/SassFrameworks/neat\A          /Applications/Adobe Dreamweaver CC 2017/Configuration/SassFrameworks/base\A         on line 27 of /Users/briandwyer/Documents/webdev/bigo/biggie/sass/mixins/_mixins-master.scss\A         from line 31 of /Users/briandwyer/Documents/webdev/bigo/biggie/sass/style.scss\A \A 22: \A 23: \A 24: \A 25: // bower:scss\A 26: @import \"../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss\";\A 27: // endbower\A 28: \A 29: @import \"variables/colors\";\A 30: @import \"variables/sizes\";\A 31: @import \"mixins/mixins-master\";\A 32: "; }
