.page-template-page_about-us{
	background-color: $colorPrimary1;
	color: $colorSecondary2;

	#about-us {
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 30px;
	
		.title-block p{
			color: $colorWhitish;
			margin-top: 80px;
    	margin-bottom: 30px;
    	font-size: 60px;
    	font-weight: 700;
    	line-height: 0.92;
		}
	
		p{
			font-size: 14px;
    	line-height: 1.3;
    	font-weight: 700;
		}


		@media (min-width: 768px) {
			padding-bottom: 45px;
		.title-block p{
			margin-top: 380px;
			margin-left: 180px;
			font-size: 100px;
    		line-height: 0.83; 
			}

		.content-block{
			position: relative;
			width: 330px;
			height: 556px;

			.wrapper{
				position: absolute;
				bottom: 0;
			}
		}

	}
	}

}