.page-template-page_about-us, .page-template-page_contact-us {
	background-color: $colorPrimary1;
	color: $colorSecondary2;
	margin-top: 3px;


	#about-us h1 p{
		line-height: 0.75;
		margin-bottom: 35px;
	}

	p {
		line-height: 1.3;
	}
	
	.content-block{
		padding-right: 20px;
	    padding-left: 20px;
		font-weight: 600;
    	font-size: 16px;
	}


	h1{
		color: $colorWhitish;
		font-size: 52px;
		padding-top: 10px;
		font-weight: 600;

	}

	.title-block{
		padding-top: 50px;
		padding-right: 20px;
	    padding-left: 20px;
		padding-bottom: 18px;
		word-break: break-all;
		text-transform: lowercase;
	}

	#footer-container {
		margin-top: 40px;
	}



	@media (min-width: 768px) {
		#about-us{
			width: 768px;
			padding-top: 40vh;
		}

		#contact-us{
			width: 768px;
			padding-top: 24vh;
		}


		.content-block{
			position: relative;
			height: 205px;
			width: 40%;
			
			p{
				position: absolute;
    			bottom: 0;
			}
		}

		h1{
			padding-left: 50px;
			font-size: 85px;

		}		
	}

}