.page-template-page_about-us, .page-template-page_contact-us {
	background-color: $colorPrimary1;
	
	h1{
		color: $colorWhitish;
		font-size: 45px;
		padding-top: 8px;
		font-weight: 600;
	}

	.title-block{
		padding-bottom: 18px;
		word-break: break-all;
		text-transform: lowercase;
	}



	@media (min-width: 768px) {
		#about-us{
			width: 768px;
			padding-top: 40vh;
		}

		#contact-us{
			width: 768px;
			padding-top: 24vh;
		}


		.content-block{
			position: relative;
			height: 205px;
			width: 40%;
			
			p{
				position: absolute;
    			bottom: 0;
			}
		}

		h1{
			padding-left: 50px;
			font-size: 85px;

		}		
	}

}