body{
	font-family: 'Montserrat', sans-serif;
}




.menu 	{
	li {
		color: $colorSecondary2;
		font-size: 13px;
		font-weight: 700;

		font-weight: bold;
		font-size: 20px;
		a {
			color: gray;
			&:hover {
				text-decoration: none;
				cursor: hand;
				color: black;
			}
		}
	}
}


