body{
	font-family: 'Montserrat', sans-serif;
}

.page-template-page_work {
	h1 {
		font-size: 160px;
		font-weight: bold;
		text-transform: lowercase;
	}
}



.menu 	{
	li {
		font-weight: bold;
		font-size: 20px;
		a {
			color: gray;
			&:hover {
				text-decoration: none;
				cursor: hand;
				color: black;
			}
		}
	}
}

