/* Colors for Contact-us & About-us pages */
$color__background-contact-about: #2fbeb6;
$color__text-title-contact-about: #FFF;
$color__text-content-contact-about: #404041;



$colorPrimary1: #2fbeb6; // greeny cyan - Background
$colorSecondary1: #2b2b2b; // black / dark Grey - Title
$colorSecondary2: #404041; // black / dark Grey - Body
$colorTertiary1: #2b2b2b; // black / dark Grey
$colorWhitish: #fefefe; // Big bold titles