

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin transition-property($property...) {
    -moz-transition-property:    $property;
    -o-transition-property:      $property;
    -webkit-transition-property: $property;
    transition-property:         $property;
}


@mixin spin(){
    -webkit-animation:spin 0.5s ease-out;
    -moz-animation:spin 0.5s ease-out;
    animation:spin 0.5s ease-out;

    animation-iteration-count: 1;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


@mixin transition-color-letter-by-letter($hoverColor) {
    [class^="char"]{
      transition: color 0.2s;
    }
    

    @for $i from 1 through 30 {
      .char#{$i} {
        transition-delay: $i  * 0.02s
      }
    }

    &:hover [class^="char"]{
      color: $hoverColor;
    }
}