@mixin aspectRatio($aspectRatio, $responsiveItems){ // call from inside responsive Items parent class
  position: relative;
  padding-bottom: $aspectRatio;
  height: 0;
  overflow: hidden;
  width: 100%;
       
    
  #{$responsiveItems} {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
}