
/* ------------------------------------- */
/* 			Add inside element with position: relative			 */
/* ------------------------------------- */
		
@mixin strikethrough-onhover{	
		
		&:after {
			content: '';
			position: absolute;
			display: block;
			width: 100%;
			height: 2px;
			margin-top: -0.8em;
			background: $colorPrimary1;
			transform-origin: center left;
			transition: transform 0.25s cubic-bezier(.55, 0, .1, 1);
			transform: scaleX(0);
				.page-template-page_contact-us & {
					background: black;
				}
				.page-template-page_about-us & {
					background: black;
				}
		}
		&:hover {
			&:after {
				transform: scaleX(1);
				transform-origin: center right;
			}
		}
}
