#footer-container {
	background-color: $colorTertiary1;
	padding-top: 50px;
	padding-bottom: 80px;

	p{
		color: $colorWhitish;
		font-size: 12px;
	}

	.footer-content{
		font-size: 18px;
		padding-top: 15px;

		p {
			margin-bottom: 0px;
		}

		.contact-name {
			font-weight: 700;
			line-height: 23px;
		}
		.contact-address {
			font-weight: 500;
			line-height: 24px;	
		}
		.contact-info {
			font-weight: 500;
			line-height: 22px;
			strong {
				font-weight: 700;
			}
		}
	}

	.social-icons-container{
    padding-top: 8px;
		font-size: 10px;
	}

	a{
		color: inherit;
		&:hover{
			color: black;
		} 
	}
	

  @media (min-width: 1200px){
    .col-md-offset-1 {
        padding-left: 0px;
    }
  }
	
}


@media (min-width: 768px) {

	.social-icons-container{
		position: relative;
		height: 193px;
	}
	
	.social-icons{
		position: absolute;
    	bottom: 12px;
    	right: 0;
    	font-size: 12px;

    	li{
    		margin: 0px 5px;
    	}
	}

	#footer-container{
		p {
			font-size: 20px;
		}
	} 

}
