#slogan-container {

    @include fadeIn($duration: 1s);
    margin-left:18px;
    margin-top: 49px;
    text-transform: lowercase;
    @include alignFixedElemWithGrid(left);

  .slogan-title {
    margin-bottom: 20px;
    &.grey-last-word {
      cursor: default;
     .word2{
        color: #bababa;
      }
    }
  }

  a {
    text-decoration: none;
    h1 {
      color: $colorSecondary1;
      @include transition(color 0.5s);
      &.grey-last-word {
        transition: none;
      }
    }
    

    &:hover {
      h1 {
        text-decoration: none;
        color: lighten($colorSecondary1, 10%); 
      }
      .grey-last-word {
        color: $colorSecondary1;
        .word2{
          color: #bababa;
        }
      }
    }

  }
  
  h1{
    font-weight: 700;
    font-size: 50px;
    line-height: 0.9;
    font-family: "Gotham SSm A", "Gotham SSm B";
    @media (max-width: 767px) { 
      margin-top: 40px;
    }

  }
}


@media (min-width: 768px){

  #slogan-container {
    z-index: 1000;
    margin-top: -160px;
    top: 40%;

    h1 {
      font-size: 90.63px * 1.434;
      line-height: 98px * 1.434;
      font-weight: bold;
      @include transition(font-size 0.5s);
      &:hover {
        // font-size: 90.63px * 1.44;
      }
    }
  }
}
