#slogan-container {
  z-index: 1000;


  @include alignFixedElemWithGrid(left);

  top: 20%;
  h1 {
    font-size: 90.63px * 1.434;;
    font-weight: 700;
    line-height: 98px * 1.434;

    font-weight: bold;
    text-transform: lowercase;
  }
}
