.menu {
	z-index: 1000;
	position: fixed;
  transform: rotate(-90deg);
  transform-origin: top right; 
  width: 100%;
  width: 100vh;
	list-style-type: none;
  @include alignFixedElemWithGrid(right, 10px);

	> li {
		display: inline-block;
		margin-right: 7vh;
		margin-left: 7vh;
		position: relative;
		cursor: pointer;
		float: right;

		@include strikethrough-onhover();
	}

	&#social-menu {
		transform-origin: top left; 
		bottom: 20px;
		> li {
		float: left;
		}

    @include alignFixedElemWithGrid(left, 40px);

	}
    
}

