.portfolio-body-content {

  padding-bottom: $body-padding-mobile;
  @media only screen and (min-width: 768px){
    padding-top: $body-padding;
    padding-bottom: $body-padding;
  }
  
  position: relative;



  h1 {
    color: $colorSecondary2;
    font-size: 15px;
    line-height: 21px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
    @media only screen and (min-width: 768px){
      font-size: 20px;      
      line-height: 28px;
      padding-bottom: 57px;
    }
  }
  h2 {
    color: black;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    @media only screen and (min-width: 768px){
      font-size: 17px;
      font-weight: 300;
      padding-bottom: 57px;
    }
  }
  p{
    color: black;
    font-size: 12px;
    font-weight: 300;
    line-height: 15px;
    margin-top: 0px;
    margin-bottom: 20px;
    @media only screen and (min-width: 768px){
      font-size: 15px;
      line-height: 21px;
    }
  }



  .portfolio-title {
    @media only screen and (min-width: 768px){
      position: absolute;
      top: $body-padding;
    }

    h1{
      font-weight: 700;
      font-size: 23px;
      line-height: 25px;
      
      @media only screen and (min-width: 768px){
        font-size: 35px;
        line-height: 36px;
        letter-spacing: -1px;
        padding-bottom: 10px;
      }
      
    }
    h3,h4{
    color: $colorPrimary1;
    font-size: 11px;
    font-weight: normal;
    line-height: 1.36;
    letter-spacing: -0.2px;
  }
  }

  .pull-quote {
    p {
      color: $colorPrimary1;
      font-size: 18px;
      font-weight: 700;
      line-height: 24px;
    }

    position: absolute;
    bottom: $body-padding;

    @media (max-width: 767px) { 
      position: relative;
    }
  }

  .portfolio-body-text {
    padding-top: 20px;
  }
}