.portfolio-image {
  
  overflow: hidden;
  padding: 20px 10px;

  img {
    margin-top: -40px;
    width: 100%;
  }
  
  &.right {
    float: right; 
  }

}

.portfoltio-images-1, .portfoltio-images-2, .portfoltio-images-3 {
  margin-top: $body-padding;
  margin-bottom: $body-padding;
}