.portfolio-video {

  @include aspectRatio($aspectRatio16x9, 'iframe, .portfolio-placeholder');
  
  margin-bottom: $body-padding-mobile;
  @media only screen and (min-width: 768px){
    margin-bottom: $body-padding;
  }
  
  
  $iconSize: 62px;
  .play-button {
    border: solid 5px;
    border-radius: 50%;
    position: absolute;
    width: $iconSize;
    height: $iconSize;
    top: 50%;
    left: 50%; 
    margin-left: -($iconSize / 2);
    margin-top:  -($iconSize / 2);
    cursor: pointer;
    text-align: center;
    padding-top: 11px;
    padding-left: 6px;


    @include  transition(all 0.5s);
    &:hover {
      @include  materialDesignShadow();
      @include  spin();
    }

    .fa {
      font-size: $iconSize / 2;
    }
  }
  

}