.portfolio-image {
  
  overflow: hidden;
  padding: 20px 15px;
  @media only screen and (min-width: 768px){
    padding: 20px 10px;
  }
  
  img {
    margin-top: -40px;
    width: 100%;
  }
  
  &.right {
    float: right; 
  }

  &.landing {
    background-repeat: no-repeat;
    background-size: cover;
    height: 530px;
    max-height: 530px;
    overflow: hidden;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;

    @media only screen and (min-width: 768px){
      margin-bottom: 40px;
      margin-left: -5px;
      margin-right: -5px;
    }
  }

}

.portfoltio-images-1, .portfoltio-images-2, .portfoltio-images-3 {
  margin-bottom: $body-padding-mobile;
  @media only screen and (min-width: 768px){
    margin-top: $body-padding;
    margin-bottom: $body-padding;
  }
}