.portfolio-footer-links {
  background-color: $colorTertiary1;

  .row {
    margin-top: 45px;
    margin-bottom: 0px;
  }

  .letter-by-letter-transition { 
    color: white;
    font-size: 91.71px;
    line-height: 98px;
    font-weight: 700;
    text-transform: lowercase;  
    transform: scale(1.418,1.418);

    &:hover {
      text-decoration: none;
      cursor: pointer;
    }
    
    @include transition-color-letter-by-letter($colorPrimary1);
  }

  @media (min-width: 1200px){
    .col-md-offset-1 {
        padding-left: 0px;
    }
  }
}


