.portfolio-video {

  @include aspectRatio($aspectRatio16x9, 'iframe, .portfolio-placeholder');
  
  margin-bottom: $body-padding-mobile;
  @media only screen and (min-width: 768px){
    margin-bottom: $body-padding;
  }
  
  .play-button-img{
    background-image: url("images/play-icon.png");
    background-repeat: no-repeat;
    width: 97px;
    height: 97px;
    position: absolute;
    left: 50%;
    margin-left: -48px;
    top: 50%;
    margin-top: -48px;
    cursor: pointer;
    &:hover {
      // @include  materialDesignShadow();
      @include  spin();
    }
  }

}