.work-item {
    padding: 30px;
    -webkit-transition: all 1s cubic-bezier(0.4, 0.01, 0.18, 1);
    -moz-transition: all 1s cubic-bezier(0.4, 0.01, 0.18, 1);
    -o-transition: all 1s cubic-bezier(0.4, 0.01, 0.18, 1);
    -ms-transition: all 1s cubic-bezier(0.4, 0.01, 0.18, 1);
    transition: all 1s cubic-bezier(0.4, 0.01, 0.18, 1);

    img {
        width: 100%;
    }
}

.work-item:nth-child(odd) {
        margin-top: -50px;
}

.work-item:nth-of-type(2) {
    img {
        margin-left: -100px;
        width: 120%;
        height: 120%;
    }
}

@media only screen and (min-width: 480px) {
    .work-item-enter:nth-child(odd) {
        -webkit-transform:translate(-60px,100px);
        -moz-transform: translate(-60px,100px);
        -o-transform: translate(-60px,100px);
        -ms-transform: translate(-60px,100px);
        transform: translate(-60px,100px)
    }
}

@media only screen and (min-width: 480px) {
    .work-item-enter:nth-child(even) {
        -webkit-transform:translate(60px,100px);
        -moz-transform: translate(60px,100px);
        -o-transform: translate(60px,100px);
        -ms-transform: translate(60px,100px);
        transform: translate(60px,100px)
    }
}
